<nav class="navbar navbar-expand-lg navbar-dark indigo navbar-fixed-top shadow-underline">
  <a routerLink="/" class="navbar-brand"><img src="assets/img/gdglemanslogo.png" alt="GDG Le Mans - logo" class="nav-logo"></a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a routerLink="/meetups" routerLinkActive="active" class="font-weight-bold" (click)="isCollapsed = true">Événements</a>
      </li>
      <li class="nav-img ml-lg-auto">
        <a href="https://twitter.com/gdglemans"><i class="fab fa-twitter brand-logo"></i></a>
      </li>
      <li class="nav-img">
        <a href="https://www.meetup.com/fr-FR/GDG-Le-Mans/"><i class="fab fa-meetup brand-logo"></i></a>
      </li>
    </ul>
  </div>
</nav>


<div class="container mb-3">
  <router-outlet></router-outlet>
</div>

